//PRIMARY

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$purple: #6b4bff;

//NEUTRAL

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$white: #fff;

$black: #000;
$black-2: rgba(0, 0, 0, 0.5);

//RESPONSIVE BREAKPOINTS

$bp-desktop: 90em; //1440px
$bp-tablet: 56.25em; //900px
$bp-mobile: 40.625em; //650px

//RESETS & RESPONSIVE FONT SIZES

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-tablet) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-mobile) {
        font-size: 50%;
    }
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: $desaturated-blue;
    padding: 1rem;

    background: url(../img/pattern-background-desktop.svg), $pale-blue;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media only screen and (max-width: $bp-mobile) {
        background: none, $pale-blue;
    }

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fadeIn 2.5s ease-in;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: $dark-blue;
    margin: 2rem 0;
}

button + button {
    margin-top: 2rem;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
    color: $desaturated-blue;
    margin: 5rem 0;

    &__link {
        color: $dark-blue;

        &:hover {
            text-decoration: none;
        }
    }
}
